* {
    margin: 0px;
    padding: 0px;
    font-family: "Garamond", Georgia, serif, 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji';
    color: #fff;
    text-decoration: none;
}

body {
    background-color: #1b1b1b;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    height: auto;
}

#intro {
    margin: 20px;
    text-align: center;
    color: wheat;
}

#webpage {
    text-align: center;
    margin-top: 20px;
    color: chocolate;
}

figcaption {
    text-align: center;
    display: block;
    font-style: italic;
}

.resright {
    clear: both;
    float: right;
    margin: auto;
    display: block;
    text-align: center;
    margin-left: 200px;
}

@media (max-width: 925px){
    .resright {
        margin-left: 100px;
    }
}

#list1 {
    transform:translateX(100px);
    width: 560px;
    text-align: left;
    display: block;
    list-style-type: disc;
}

@media (max-width: 625px){
    .resright {
        margin-left: 50px;
    }
    #list1 {
        transform:translateX(0px);
    }
}

@media (max-width: 400px){
    #list1 {
        transform:translateX(-50px);
        width: 160%;
    }
}

@media (max-width: 250px){
    #list1 {
        transform:translateX(0px);
        width: auto;
    }
}

p {
    text-align: center;
}

a li {
    color: rgb(128, 158, 255);
}

a li:hover {
    color: rgb(0, 60, 255);
}

footer {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    clear: both;
}

footer a {
    color: rgb(128, 158, 255);
}

footer a:hover {
    color: rgb(0, 60, 255);
}
